.sidebar-custom {
  background-color: rgb(15, 20, 33);
  box-shadow: rgba(1, 5, 17, 0.3) 0px 8px 28px 0px;
  min-height: 100vh;
  box-sizing: border-box;
  border-right: 1px solid #232d3e;
  width: 260px;
  display: flex;
  flex-direction: column;
}

 .sidebar-custom .sidebar-header {
  padding: 8px 0 0px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25%;
}

.sidebar-custom .sidebar-logo {
  width: auto;
  height: 3rem;
  margin: 0 12px 0 0;
}

.sidebar-custom .sidebar-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-family: "Mona Sans", sans-serif;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  gap: 12px;
}

.sidebar-custom .sidebar-section {
  font-size: 1rem;
  color: #6c7890;
  margin: 20px 0 8px 20px;
  font-weight: 600;
}

.sidebar-menu {
  padding: 0 10px;
}

.sidebar-icon {
  font-size: 1.5rem !important;
  color: #8f9bbd;
}

.sidebar-custom .sidebar-menuitem {
  display: flex;
  align-items: center;
  padding: 8px 0 8px 20px;
  color: #8f9bbd;
  font-size: 1rem;
  border-radius: 6px;
  text-transform: capitalize;
  transition: background 0.2s, color 0.2s;
  background: none;
  border: none;
  outline: none;
}

.sidebar-custom .sidebar-menuitem:hover {
  background: #232d3e;
  color: #fff;
}

.sidebar-custom .sidebar-link .options.active {
  color: #d946ef;
}

.sidebar-custom .sidebar-menuitem .sidebar-icon.active {
  color: #d946ef
}

.sidebar-custom .sidebar-menuitem .MuiSvgIcon-root {
  margin-right: 5px;
  font-size: 1.2rem;
}

.sidebar-custom .sidebar-link {
  text-decoration: none;
  color: inherit;
}

.sidebar-custom .sidebar-link .options {
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "Mona Sans", sans-serif;
  color: #8f9bbd;
}

.sidebar-custom .sidebar-menu hr {
  flex-shrink: 0;
  border-width: 0px 0px thin;
  border-style: solid;
  border-color: #232d3e;
  margin: 16px 0px;
  background-color: #232d3e;
}

.sidebar-footer {
  padding: 16px;
  border-radius: 8px;
  background: linear-gradient(128.49deg, rgb(203, 60, 255) 19.86%, rgb(127, 37, 251) 68.34%);
  margin-top: auto;
  margin-bottom: 100px;

  min-width: 150px;

  margin-left: auto;
  margin-right: auto;
}

.sidebar-footer-text {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Mona Sans", sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
